<h1>Editing route</h1>
 
<%= form_for :route, url: route_path(@route), method: :patch do |f| %>
 
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@route.errors.count, "error") %> prohibited
        this route from being saved:
      </h2>
      <ul>
        <% @route.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <%= f.label :places %><br>
    <% @route.places.each do |place| %>
      <div id="routes">
        <%= f.text_field :places, :array => true %>
      </div>
    <% end %>

  
  
    <p>
      <%= f.submit %>
    </p>

  <% end %>


<%= link_to 'Back', routes_path %>